#navigate{
  background-color: white;
}
header{
    background-image: url("../../assets/backgrounds/landing.jpg");
    color: white;
}

#happy{
    background-color: yellow;
    color: white;
}
#breakfast{
    background:url("../../assets/foodtop/breakfast.jpg");
    color: white;
    padding-bottom: 190px;

}
#nav-tabs{
  font-size: 900px
}
#breakfast:hover{
    color: white;
    background-color: white;

}
#lunch{
    color: white;
background-image: url("../../assets/foodtop/lunch.jpg");
padding-bottom: 190px;
}
#lunch:hover{
    color: black;
    background-color: white;
}
#dinner{
color: white;
background-image: url("../../assets/foodtop/dinner.jpg");
padding-bottom: 190px;
}
#dinner:hover{
    color: white;
    background-color: white;
}
#contact{
    background-image: url("../../assets/backgrounds/subscribe.jpg");
    color: white;
    padding: 84px
}
button{color:white;
background-color: orange;
}
#menu{
    background-color: orange;
    color: white;
}
#float{
    background-image: url("../../assets/backgrounds/foodsBg.jpg");
    padding-bottom:556px;padding-top: 100px;
     padding-bottom: 190px; overflow: hidden;
}
#float1{
    background-color: white;
    padding-bottom: 55px;
    border-radius: 5px;
text-align-last: center;
}

#hh1{
    background-color: white;
    padding-bottom: 78px
}
#hh2{
    background-color: orange;
    padding-bottom: 78px;
}
form{
    color: green;
}
#fb{
    background-image: url();
}
